<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Eat Da Burger</h1>
    </div>
  </div>
</div>
<div class="container" id="burger">
  <div class="row">
    <div class="col-md-6">
      <form class="create-form">
        <div class="form-group">
          <input type="text" class="form-control" name="burger" id="add-burger" placeholder="Add your burger" data-devoured="false">
        </div>
        <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false">Add it!</button>
      </form>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col">
        {{#each burger_data}}
        {{#unless this.devoured}}
            <form class="devour-form button-size">
                <span class="burgerList">{{this.id}}. {{this.burger_name}}</span>
                <input type="hidden" class="burger_id" type="text" data-devoured={{this.devoured}} value={{this.id}}>
                <button type="submit" class="btn btn-danger">Devour it!</button>
            </form>
        {{/unless}}
        {{/each}}
      </div>
    <div class="col">
      {{#each burger_data}}
        {{#if this.devoured}}
          <input class="form-group" type="text" name="burger" data-devoured="false" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>